@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap");

/*------------------------------- GOOGLE FONTS 

font-family: 'Overpass', sans-serif;

*/

:root {
    --Orange: hsl(25, 97%, 53%);
    --White: hsl(0, 0%, 100%);
    --Light-Grey: hsl(217, 12%, 63%);
    --Medium-Grey: hsl(216, 12%, 54%);
    --Dark-Blue: hsl(213, 19%, 18%);
    --Very-Dark-Blue: hsl(216, 12%, 8%);
    --background: #202020;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 15px;
    font-family: "Overpass", sans-serif;
}

body {
    min-height: 100vh;
    width: 100%;
    background: var(--background);
    color: var(--White);
}

.d-none {
  display: none;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.main-container {
  min-height: 100vh;
  position: relative;
}

.card {
  max-width: 350px;
  background: linear-gradient(
    var(--Dark-Blue),
    var(--Very-Dark-Blue)
  );
  margin: 2rem;
  padding: 1rem;
  border-radius: 20px;
}

.submit-card > * {
  margin: 1rem 0;
}

.submit-card-star-icon {
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: var(--Dark-Blue);
  
}

.submit-card-message {
  color: var(--Medium-Grey);
}

.submit-card-rating {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.submit-card-rating-btns {
  margin: 1.5rem 0 1.5rem 10px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.rating-btn {
  appearance: none;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  color: var(--Medium-Grey);
  background: var(--Dark-Blue);
  border-radius: 50%;
  cursor: pointer;
}

.rating-btn:hover {
  background: var(--Orange);
  color: var(white);
}

.rating-btn:checked {
  background: var(--Light-Grey);
}

.rating-label {
  transform: translate(-31px, 0);
}

.submit-card-btn {
  border-radius: 20px;
  background: var(--Orange);
  border: none;
  padding: 1rem;
  width: 100%;
  color: var(--White);
  font-weight: bold;
  letter-spacing: .25rem;
  cursor: pointer;
}

.submit-card-btn:active {
  background: var(--White);
  color: var(--Orange);
}

.thankyou-card {
  text-align: center;
}

.thankyou-card > * {
  margin: 1rem 0;
}

.thankyou-card-rating {
  color: var(--Orange);
  background: var(--Dark-Blue);
  padding: .5rem 1.5rem;
  border-radius: 20px;
}

.thankyou-card-msg {
  color: var(--Light-Grey);
}

footer {
  position: absolute;
  bottom: 0;
  padding: 1rem;
}

.attribution {
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: var(--Orange);
    text-decoration: none;
    font-weight: bold;
}
